@page "/"

<PageTitle>Librería DCEA</PageTitle>

<h1>¡Hola! Bienvenido a Librería DCEA</h1>

<img src="https://dynamic.brandcrowd.com/preview/logodraft/0a68f695-dc20-4a4a-8491-4be74691b579/image/large.png" alt="Bookstore logo">
